<h1 class="title is-1">Contact list</h1>

<p>
  <%= link_to 'Add new contact', new_contact_path, class: 'button is-primary' %>
</p>

<% @contacts.each do |contact| %>
  <%= render partial: 'contact', locals: { contact: contact } %>
<% end %>